.editableElement pre {
    font-family: 'Menlo', monospace;
    font-size: 15px;
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
}

.editableElement blockquote {
    display: block;
    padding-left: 20px;
    border-left: 6px solid #df0d32;
    margin-left: -15px;
    padding-left: 15px;
    font-style: italic;
    color: #555;
}

.editableElement,
.md-editor{
    min-height: 300px;
}

.md-editor textarea{
    width: 100%;
    margin: 0;
    padding: .5em;
    overflow: auto;
    border: none;
}